// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre {
  color: white;
  font-size: 40px;
  height: 200px;
  position: relative;
  left: 0;
  top: 0;
}

.movies {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.genre-item {
  width: 250px;
  height: 200px;
}

.movie-video {
    width: 250px;
  height: 200px;
}
