// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre {
  position: relative;
  left: 0;
  top: 0;
  background-color: black;
  color: rgb(128, 133, 136);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  // min-height: 86vh;
}

.genre-title {
  font-size: 30px;
  padding: 10px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.movies {
  display: flex;
  width: 100%;
  bottom: 0;
  z-index: 1;
  transition: transform 450ms;
  overflow-x: hidden;
  overflow: -moz-hidden-unscrollable;
  overflow-y: hidden;
  width: 90vw;
  margin: 0 auto;
  scrollbar-width: none;
}

.genre-item {
  width: 300px;
  height: 200px;
  flex: 0 0 20%;
}

.movie-video {
  width: 300px;
  height: 200px;
  position: absolute;
  object-fit: cover;
}

.movie-item {
  position: relative;
  width: 300px;
  height: 200px;
}

.movie-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  bottom: 10px;
  color: white;
}

.movie-info-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.movie-runtime {
  font-size: 12px;
}

.list-button {
  font-size: 30px;
  margin-right: 10px;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  bottom: 10px;
}

.fas {
  cursor: pointer;
}

.list-button button {
  border: none;
  color: white;
}

.btn {
  position: absolute;
  box-shadow: 0 0 6.1px 0.9px grey;
  padding: 5px;
  cursor: pointer;
  width: 20px;
  height: 132px;
  background: grey;
  color: white;
  opacity: 0.25;
  font-size: 25px;
  z-index: 5;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 125px;
}
.next {
  right: 1rem;
  transform: translateY(45%);
}

.prev {
  left: 1rem;
  transform: translateY(45%);
}

.list {
  padding: 20px;
  padding-left: 40px;
  padding-top: 40px;
  width: 90%;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.search-items {
  padding: 20px;
  padding-left: 40px;
  padding-top: 40px;
  width: 90%;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.not-found {
  color: white;
  background: black;
  padding: 20px;
  text-align: center;
  padding-top: 6%;
  font-size: 20px;
}

.listing {
  list-style-type: circle;
  font-size: 20px;
  text-align: center;
  color: white;
  background: black;
  list-style-position: inside;
}

.my-list {
  min-height: 86vh;
  background-color: black;
}
