.welcome-h1{
  color: white;
  height: 105px; 
  width: 550px;
  font-size: 58px;
  justify-content: center;
}

.welcome-h3{
  color: white;
  height: 35px; 
  width: 490px;
  font-size: 27px;
  justify-content: center;
  padding-top: 35px;
}

.welcome-p{
  color: white;
  height: 25px; 
  width: 490px;
  font-size: 18px;
  justify-content: center;
  padding-top: 10px;
}

.welcome-h1, .welcome-h3, .welcome-p{
  display: flex;
  justify-content: center;
  text-align: center;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 945px;
  // margin-top: -200px;
}

.home-text{
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.demo-button{
    background-color: #e50914;
    color: white;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .1px;
    text-align: center;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 20px;
    border-radius: 3px;
    border: transparent;
    font-weight: bold;
    font-size: 17px;
    margin-top: 40px;
    justify-content: center;
}
