.welcome-h1{
  color: white;
  background: black;
  height: 105px; 
  width: 400px;
  font-size: 45px;
  justify-content: center;
}

.welcome-h3{
  color: white;
  background: pink;
  height: 35px; 
  width: 490px;
  font-size: 27px;
  justify-content: center;
}

.welcome-p{
  color: white;
  background: purple;
  height: 25px; 
  width: 490px;
  font-size: 20px;
  justify-content: center;
}

.welcome-h1, .welcome-h3, .welcome-p{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.home{
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.demo-button{
    background-color: #e50914;
    color: white;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .1px;
    text-align: center;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 20px;
    border-radius: 3px;
    border: transparent;
    font-weight: bold;
    font-size: 17px;
}
