.main-movie-title{
    font-weight: bolder;
    font-size: 35px;
    padding:5px;
}

.main-movie-des{
    font-size: 17px;
    max-width: 35%;
    max-height: 20%;
    padding:10px;
}

.main-movie-video{
    width: 100%; 
    background-color: black;
}

.main-movie-info{
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 430px;
    left: 160px;
    font-family: sans-serif;
    opacity: 90%;
    z-index: 1;
}

.main-play-button{
    border: none;
    font-size: 18px;
    background-color: white;
    height: 45px;
    width: 121px;
    text-align: center;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 25px;
}

.main-play-button:hover {
    background-color: lightgray;
}

.main-info-button:hover {
    background-color: rgba(109,109,110,0.4);
}

.main-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 100%;
}

.main-info-button {
    border: none;
    font-size: 18px;
    background-color: rgba(109,109,110,0.7);
    color: white;
    height: 45px;
    width: 161px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.mute{
    position: absolute;
    float: right;
    height: 50px;
    width: 50px;
    font-size: 2.2em;
    color: white;
    top: 550px;
    right: 150px;
    z-index: 5;
    font-size: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1.8px solid white;
}

.left-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fas, .fa{
    display: flex;
    justify-content: center;
}